<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-"><a href="index.html" STYLE="color: #7abaff"><span>Our </span></a><a href="index.html" STYLE="color: #221199"><span> Transport</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#header">Home</a></li>
                <li><a href="#testimonials">News</a></li>
                <li><a href="#contact">Contact</a></li>

                <li class="get-started"><a  href="{{ path('app_login') }}">Espace Client </a></li>
                <li class="get-started"><a href="{{ path('app_login') }}">Espace Agence</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
